USE [MunicipalDB]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_employee] [int] NULL,
	[action_type] [nvarchar](30) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [int] NOT NULL,
	[action_datetime] [datetime] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[id_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id_contract] [int] NOT NULL,
	[contract_number] [nvarchar](50) NOT NULL,
	[id_object] [int] NOT NULL,
	[id_tenant] [int] NOT NULL,
	[id_responsible_employee] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[monthly_rate] [decimal](10, 2) NULL,
	[payment_day] [int] NULL,
	[contract_status] [nvarchar](30) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id_department] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id_employee] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[id_position] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[hire_date] [date] NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[role] [nvarchar](30) NULL,
	[department] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objects]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objects](
	[id_object] [int] NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[cadastral_number] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[total_area] [decimal](10, 2) NULL,
	[purpose] [nvarchar](100) NULL,
	[condition] [nvarchar](50) NULL,
	[is_rented_now] [bit] NULL,
	[id_object_new] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_object] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id_payment] [int] NOT NULL,
	[id_contract] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[period_month] [date] NOT NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_type] [nvarchar](30) NULL,
	[is_penalty] [bit] NULL,
	[id_employee_who_accepted] [int] NOT NULL,
	[receipt_number] [nvarchar](50) NULL,
	[id_user_who_accepted] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id_position] [int] NOT NULL,
	[position_name] [nvarchar](100) NOT NULL,
	[salary_grade] [nvarchar](50) NULL,
	[access_level] [int] NULL,
	[base_salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[id_tenant] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
	[inn] [nvarchar](12) NOT NULL,
	[ogrn] [nvarchar](15) NULL,
	[short_name] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[legal_address] [nvarchar](200) NULL,
	[registration_date] [date] NULL,
	[id_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tenant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23.08.2026 17:43:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](150) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](30) NOT NULL,
	[is_blocked] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address], [id_user]) VALUES (1, NULL, N'LOGIN', N'users', 1, CAST(N'2026-05-24T18:54:01.013' AS DateTime), NULL, N'???? ? ???????', N'127.0.0.1', 1)
INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address], [id_user]) VALUES (2, NULL, N'INSERT', N'objects', 101, CAST(N'2026-05-24T18:54:01.013' AS DateTime), NULL, N'???????? ??????', N'127.0.0.1', 1)
INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address], [id_user]) VALUES (3, NULL, N'UPDATE', N'contracts', 25, CAST(N'2026-05-24T18:54:01.013' AS DateTime), N'??????: ??????????', N'??????: ?????????', N'127.0.0.1', 1)
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (1, N'CONTRACT-1', 2, 2, 2, CAST(N'2026-04-24' AS Date), CAST(N'2027-04-24' AS Date), CAST(11000.00 AS Decimal(10, 2)), 6, N'active', NULL)
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (2, N'CONTRACT-2', 3, 3, 3, CAST(N'2026-03-24' AS Date), CAST(N'2027-03-24' AS Date), CAST(12000.00 AS Decimal(10, 2)), 7, N'active', NULL)
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (3, N'CONTRACT-3', 4, 4, 4, CAST(N'2026-02-24' AS Date), CAST(N'2027-02-24' AS Date), CAST(13000.00 AS Decimal(10, 2)), 8, N'active', NULL)
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id_department], [department_name]) VALUES (7, N'Администрация')
INSERT [dbo].[departments] ([id_department], [department_name]) VALUES (6, N'Отдел бухгалтерского учета')
INSERT [dbo].[departments] ([id_department], [department_name]) VALUES (1, N'Отдел имущественных отношений')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [phone], [email], [hire_date], [login], [password], [is_active], [role], [department]) VALUES (1, N'Волков', N'Андрей', N'Сергеевич', 1, N'8(83362)4-11-11', N'volkov.andrey@slobodskoy.ru', CAST(N'2015-03-10' AS Date), N'volkov_andrey', N'admin123', 1, N'admin', 1)
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [phone], [email], [hire_date], [login], [password], [is_active], [role], [department]) VALUES (2, N'Кузнецова', N'Елена', N'Владимировна', 2, N'8(83362)4-11-12', N'kuznetsova.elena@slobodskoy.ru', CAST(N'2016-07-15' AS Date), N'kuznetsova_elena', N'buh2026', 1, N'accountant', 1)
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [phone], [email], [hire_date], [login], [password], [is_active], [role], [department]) VALUES (3, N'Смирнов', N'Дмитрий', N'Алексеевич', 3, N'8(83362)4-11-13', N'smirnov.dmitry@slobodskoy.ru', CAST(N'2018-04-20' AS Date), N'smirnov_dmitry', N'pass123', 1, N'property_worker', 2)
GO
SET IDENTITY_INSERT [dbo].[objects] ON 

INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now], [id_object_new]) VALUES (1, N'г. Слободской, ул. Строителей, д. 1', N'42:07:000002:120', N'Помещение', CAST(51.00 AS Decimal(10, 2)), N'гараж', N'норм', 1, 1)
INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now], [id_object_new]) VALUES (2, N'г. Слободской, ул. Кирова, д. 2', N'43:07:000002:120', N'гараж', CAST(17.00 AS Decimal(10, 2)), N'офисное', N'удовлетворительное', 1, 2)
INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now], [id_object_new]) VALUES (3, N'г. Слободской, ул. Свердлова, д. 3', N'43:07:000003:130', N'земельный участок', CAST(18.00 AS Decimal(10, 2)), N'производственное', N'требует ремонта', 0, 3)
GO
SET IDENTITY_INSERT [dbo].[objects] OFF
GO
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number], [id_user_who_accepted]) VALUES (1, 40, CAST(N'2026-05-23' AS Date), CAST(N'2026-05-01' AS Date), CAST(10000.00 AS Decimal(10, 2)), N'безналичный', 0, 2, N'КВ-2026-0001', NULL)
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number], [id_user_who_accepted]) VALUES (2, 1, CAST(N'2026-05-22' AS Date), CAST(N'2026-05-01' AS Date), CAST(11000.00 AS Decimal(10, 2)), N'безналичный', 0, 3, N'КВ-2026-0002', NULL)
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number], [id_user_who_accepted]) VALUES (3, 128, CAST(N'2026-05-21' AS Date), CAST(N'2026-05-01' AS Date), CAST(18000.00 AS Decimal(10, 2)), N'наличный', 0, 4, N'КВ-2026-0003', NULL)
GO
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (1, N'Начальник отдела имущественных отношений', N'Высшая категория', 3, CAST(65000.00 AS Decimal(10, 2)))
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (2, N'Заместитель начальника отдела', N'Первая категория', 2, CAST(52000.00 AS Decimal(10, 2)))
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (3, N'Главный специалист', N'Вторая категория', 2, CAST(45000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date], [id_user]) VALUES (1, N'Юрлицо', N'434500000031', N'10000000000031', N'OOO Vyatka', N'OOO Vyatka', N'8-912-345-67-01', N'vyatka@mail.ru', N'г. Слободской, ул. Советская, д. 32', CAST(N'2023-11-06' AS Date), 31)
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date], [id_user]) VALUES (2, N'ИП', N'434500000032', NULL, N'IP Ivanov Ivan', N'IP Ivanov Ivan', N'8-912-345-67-02', N'ivanov@mail.ru', N'г. Слободской, ул. Советская, д. 33', CAST(N'2023-10-07' AS Date), 112)
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date], [id_user]) VALUES (3, N'Юрлицо', N'434500000033', N'10000000000033', N'OOO Rassvet', N'OOO Rassvet', N'8-912-345-67-03', N'rassvet@mail.ru', N'г. Слободской, ул. Советская, д. 34', CAST(N'2023-09-07' AS Date), 143)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (1, N'volkov_andrey', N'admin123', N'Волков Андрей Сергеевич', N'volkov.andrey@slobodskoy.ru', N'8(83362)4-11-11', N'admin', 0, CAST(N'2026-08-21T16:58:25.923' AS DateTime), CAST(N'2026-05-24T17:36:02.840' AS DateTime))
INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (2, N'kuznetsova_elena', N'buh2026', N'Кузнецова Елена Владимировна', N'kuznetsova.elena@slobodskoy.ru', N'8(83362)4-11-12', N'accountant', 0, CAST(N'2026-08-21T15:28:49.030' AS DateTime), CAST(N'2026-05-24T17:36:02.840' AS DateTime))
INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (3, N'smirnov_dmitry', N'pass123', N'Смирнов Дмитрий Алексеевич', N'smirnov.dmitry@slobodskoy.ru', N'8(83362)4-11-13', N'property_worker', 0, CAST(N'2026-08-21T15:29:06.040' AS DateTime), CAST(N'2026-05-24T17:36:02.840' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__contract__1CA37CCE60B2F001]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[contracts] ADD UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departme__226ED15748C0F794]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[departments] ADD UNIQUE NONCLUSTERED 
(
	[department_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__7838F272B6FF435D]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164FB38F6C0]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__objects__B6BD7C7603E7542B]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[objects] ADD UNIQUE NONCLUSTERED 
(
	[cadastral_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__position__0030EAD7413DBDDA]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[positions] ADD UNIQUE NONCLUSTERED 
(
	[position_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tenants__DC50F6D373B7C552]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[tenants] ADD UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F2723F11D059]    Script Date: 23.08.2026 17:43:50 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [action_datetime]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (N'действует') FOR [contract_status]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[objects] ADD  DEFAULT ((0)) FOR [is_rented_now]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (N'безналичный') FOR [payment_type]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ((0)) FOR [is_penalty]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [access_level]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_blocked]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_log_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [FK_audit_log_users]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD FOREIGN KEY([id_object])
REFERENCES [dbo].[objects] ([id_object])
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD FOREIGN KEY([id_responsible_employee])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[employees]  WITH NOCHECK ADD FOREIGN KEY([id_position])
REFERENCES [dbo].[positions] ([id_position])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [FK_employees_departments] FOREIGN KEY([department])
REFERENCES [dbo].[departments] ([id_department])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [FK_employees_departments]
GO
ALTER TABLE [dbo].[payments]  WITH NOCHECK ADD FOREIGN KEY([id_contract])
REFERENCES [dbo].[contracts] ([id_contract])
GO
ALTER TABLE [dbo].[payments]  WITH NOCHECK ADD FOREIGN KEY([id_employee_who_accepted])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD  CONSTRAINT [FK_tenants_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[tenants] CHECK CONSTRAINT [FK_tenants_users]
GO
ALTER TABLE [dbo].[contracts]  WITH NOCHECK ADD CHECK  (([payment_day]>=(1) AND [payment_day]<=(31)))
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD CHECK  (([type]=N'Юрлицо' OR [type]=N'ИП'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='tenant' OR [role]='property_worker' OR [role]='accountant' OR [role]='admin'))
GO
